[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
python-dotenv = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
django = "*"
psycopg2 = "*"
pillow = "*"
django-crispy-forms = "*"
django-environ = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.13"
