{% extends 'base.html' %}

{% block content %}
  <h2>Your Subscriptions</h2>
  <div class="row">
    {% for subscription in subscriptions %}
      <div class="col-md-4">
        <div class="card">
          {% if subscription.predefined_subscription.image %}
            <img src="{{ subscription.predefined_subscription.image.url }}" alt="{{ subscription.predefined_subscription.name }}">
          {% else %}
            <img src="/static/default_image.png" alt="Default Image"> <!-- Add a default image if no image exists -->
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ subscription.predefined_subscription.name }}</h5>
            <p class="card-text">Renewal Date: {{ subscription.renewal_date }}</p>
            {% if subscription.renewal_date <= today|add:"7 days" %}
              <p class="renewal-reminder">Renewal Reminder!</p>
            {% endif %}
          </div>
          <div class="card-footer">
            <div class="edit-delete">
              <a href="{% url 'edit_subscription' subscription.pk %}">Edit</a>
              <a href="{% url 'delete_subscription' subscription.pk %}">Delete</a>
            </div>
            <p class="card-footer-text">{{ subscription.predefined_subscription.price }} USD</p>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No subscriptions yet!</p>
    {% endfor %}
  </div>
  <a href="{% url 'create_subscription' %}">Create New Subscription</a>
  <hr>
  <h3>Past Subscription Payments</h3>
  <a href="{% url 'subscription_history' %}">View Payment History</a>
{% endblock %}
